@model IEnumerable<BLL.DTOs.AuthorDTO>

@{
    ViewData["Title"] = "Author Home";
}


<h1 style="font-family: Arial, sans-serif; color: #3366CC; font-size: 28px; font-weight: bold; text-align: center;">Book Authors</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>

            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <img src="~/images/@item.ImageUrl" class="rounded-circle" alt="Author Image" width="190" height="190">
                </td>
                <td>
                    @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                </td>

               
            </tr>
        }
    </tbody>
</table>
