@model BLL.DTOs.AuthorDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>AuthorDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Id" type="hidden" value="@Model.Id"/>
                <input asp-for="ImageUrl" type="hidden" value="@Model.ImageUrl" />
            </div>


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" value="@Model.Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">

                <td>
                    <img src="~/images/@Model.ImageUrl" class="rounded-circle" alt="Author Image" width="50" height="50">
                </td>
                <label class="control-label">Image</label>

                <div class="custom-file">
                    <input type="file" id="customFile" name="upload" accept="image/*">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>

                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
