@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To BoiGhor</h1>
    <img src="~/images/boighor.jpg" class="mx-auto" style="width:30%;" />
   
</div>
